body {
  margin: 0;
  font-family: sans-serif;
  button {
    border: 1px solid #000000;
    background-color: #ffffff;
    height: 30px;
    width: 170px;
    font-weight: 900;
    cursor: pointer;
  }
  button:hover {
    background-color: #b8ec27;
  }
  p {
    font-weight: 900;
  }
}
